<h1>About Us</h1>
<p>I'm an IT Consultant and developer.</p>
<p>You may contact me at <a href=   "mailto: javier@fjrg.net">javier@fjrg.net</a>. Feel free to reach out for any inquiries or collaborations.</p>
<p>You may visit my website at <a href="https://www.fjrg.net" target="_blank">fjrg.net</a> for more information.</p>
<p>Thank you for visiting our demo site!</p>
<br>

