// _custom_variables.scss
$primary: rgb(20, 103, 159); // Tomato red
$btn-primary-color: white; // Text color for primary button
$btn-primary-bg: $primary; // Background color for primary button
$btn-primary-border: $primary; // Border color for primary button